/* Region Common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --spo-black: black;
    --spo-background: #141922;
    --spo-white: #ffffff;
    --spo-upgrade: #080b12;
    --spo-gray: #282828;
    --spo--ligth-gray: #a3a3a3;
    --spo--fluorescent: #adff2f;
}

body {
    font-family: 'Montserrat', sans-serif;
}


/* #region Debug */

.debug .wrapper {    
    background-color: pink;   
}

.debug .upgrade {   
    background-color: #222222;
}

.debug .sidebar {
    background-color: black;
}

.debug main {
    width: 85%;
    background-color: gray;   
}

.debug .toolbar {
    background-color: olive;
}

.debug .toolbar-left {
    width: 200px;
    height: 100px;
    border: 2px dotted red;    
}

.debug .toolbar-center {
    width: 500px;
    height: 100px;
    border: 2px dotted red;    
}

.debug .toolbar-right {
    width: 200px;
    height: 100px;
    border: 2px dotted red;   
}

/* #endregion Debug */

/* #region Layout */
.wrapper {
    height: calc(100vh - 100px);
    display: flex;  
}

.upgrade {
    background-color: var(--spo-upgrade);
}

.sidebar {
    width: 200px;
    height: calc(100vh - 100px);
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--spo-black);
    padding: 1rem 1rem;  
}

main {
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: var(--spo-background);
    color: var(--spo-white);   
}


/* #region Utility */

.container {
    width: 100%;
    max-width: 1512px;
    margin-left: 250px;  
}

[class^="col-"]
{
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 2rem;
}

.d-flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}

.align-item {
    align-items: center;
}

.col-lg-12 {
    width: 100%; 
}

a {
    text-decoration: none;
    color: var(--spo--ligth-gray); 
}

ul {
    list-style: none;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    padding: 1rem;
    font-size: 0.75rem;
    font-weight: bold;
    margin-bottom: 2rem;

    & li {
        list-style: none;
    }

    & a {
        text-decoration: none;
        text-transform: uppercase;
        color: var(--spo--ligth-gray);
    }
}

i {
    color: #ffffff;
}

h4 {
    color: #ffffff;
}

/* #region button */

.button {
    display: flex;
    justify-content: flex-end;
    margin-right: 0.5rem;
    padding: 1.5rem 0;
}


.btn {
    background-color: transparent;
    border: 1px solid var(--spo-white);
    border-radius: 1rem;
    width: 200px;
    font-size: 0.75rem;
    font-weight: 500;
    padding: 0.5rem;
    text-align: center;  
}

/* #region Sidebar */
.logo {
    margin-bottom: 1rem;
}
.logo img {
    max-width: 80%;
}

.home, .search, .library, .install-app, .user-profile {
    display: flex;
    align-items: center;
    padding: 0.25rem;

    & img {
        max-width: 15%;
    }
}


/* #region content album */
.albums {
    gap: 0.8rem;
    margin: 2rem 0;
}
.album-title, .autore, h2 {
    padding-left: 0.5rem;  
}

.album-box img {
    max-width: 100%;
}

.album-box {
    width: 200px;
    height: 200px;

}

.album-title, .author {
    text-align: center;
}

.album-box {
    border-radius: 50%;
}

#circle img {
    border-radius: 50%;
}
/* #region Footer */


footer .toolbar {
    height: 100px;
    background-color: var(--spo-gray);
    z-index: 4;
}

footer .toolbar-left, footer .toolbar-right {
    flex-grow: 1;
    padding: 0.25rem;
}
.toolbar-right {
    justify-content: end;
}

footer .toolbar-center {
    flex-grow: 2;
    padding: 0.25rem;
}


.playing img {
    max-width: 10%;
}

.center-top, .right {
    gap: 1rem;
}

.center-bottom {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--spo-white);
    
}

.toolbar-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}


.play {
    height: 5px;
    width: 450px;
    background: linear-gradient(to left, rgb(79, 74, 74) 0%, rgb(79, 74, 74) 80%, rgb(234, 232, 232) 80%, rgb(234, 232, 232) 100%);
    border-radius: 0.5rem;
    border: none;
}

.play-two {
    height: 5px;
    width: 150px;
    background: linear-gradient(to left, rgb(79, 74, 74) 0%, rgb(79, 74, 74) 80%, rgb(234, 232, 232) 80%, rgb(234, 232, 232) 100%);
    border-radius: 0.5rem;
    border: none;
}

 /* #region Media Query */


@media screen (min-width:920px) and (max-width:1200) {
   
    body {
        width: 10%;
    }
    
}

@media screen (min-width:768px) {
    main {
        width: 90%;
    }
    
}

.col-lg-12 {
    
    border: 2px solid red;
    padding: 1rem 1rem;
}