/* Region Common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --spo-black: black;
    --spo-background: #141922;
    --spo-white: #ffffff;
    --spo-upgrade: #080b12;
    --spo-gray: #282828;
    --spo--ligth-gray: #a3a3a3;
    --spo--fluorescent: #adff2f;
}

body {
    font-family: 'Montserrat', sans-serif;
}


/* #region Debug */

.debug .wrapper {
    width: 100%;
    background-color: pink;   
}

.debug .upgrade {
   
    background-color: #222222;
}

.debug .sidebar {
    width: 15%;
    background-color: black;
}

.debug main {
    width: 85%;
    background-color: gray;
    
}


.debug .scrollbar {
    width: 1%;
    background-color: goldenrod;
}

.debug .toolbar-footer {
    background-color: olive;
}

.debug .toolbar-left {
    width: 200px;
    height: 100px;
    border: 2px dotted red;
    
}
.debug .toolbar-center {
    width: 500px;
    height: 100px;
    border: 2px dotted red;
    
}
.debug .toolbar-right {
    width: 200px;
    height: 100px;
    border: 2px dotted red;   
}

/* #endregion Debug */

/* #region Layout */


.wrapper {
    height: calc(100vh - 100px);
    display: flex;
    
}

.upgrade {
    background-color: var(--spo-upgrade);
}

.sidebar {
    width: 15%;
    
    background-color: var(--spo-black);
    
}

main {
    width: 85%;
    overflow-y: scroll;
    background-color: var(--spo-background);
    color: var(--spo-white);
}






/* #region Utility */

.container {
    width: 100%;
    max-width: 1152px;
    margin: auto;
}



[class^="col-"]
{
    padding-left: 1rem;
    padding-right: 1rem;
}

.d-flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}

.col-lg-12 {
    width: 100%;  
}


a {
    text-decoration: none;
    color: var(--spo--ligth-gray);
    
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    padding: 1rem;
    font-size: 0.75rem;
    font-weight: bold;
    margin-bottom: 2rem;

    & li {
        list-style: none;
    }

    & a {
        text-decoration: none;
        text-transform: uppercase;
        color: var(--spo--ligth-gray);
    }
}

i {
    color: #ffffff;
}
h4 {
    color: #ffffff;
}

/* #region button */

.button {
    display: flex;
    justify-content: flex-end;
    margin-right: 0.5rem;
    padding: 1.5rem 0;
}


.btn {
    background-color: transparent;
    border: 1px solid var(--spo-white);
    border-radius: 1rem;
    width: 200px;
    font-size: 0.75rem;
    font-weight: 500;
    padding: 0.5rem;
    text-align: center;  
}

/* #region Sidebar */

.logo img {
    max-width: 50%;
}

.logo {
    padding: 1rem 1rem;
}

.home, .search, .library, .install-app, .user-profile {
    display: flex;
    align-items: center;

    & img {
        max-width: 15%;
    }
}


/* #region content album */
.albums {
    gap: 0.8rem;
}
.album-title, .autore, h2 {
    padding-left: 0.5rem;  
}

.album-box img {
    max-width: 100%;
}

.album-box {
    width: 150px;
    height: 150px;

}

.album-title, .author {
    text-align: center;
}

/* #region Footer */


.toolbar-footer {
    width: 100%;
    height: 100px;
    background-color: var(--spo-gray);
    display: flex;
    justify-content: space-between;
    z-index: 4;
}


/* #region Footer */
.playing {
    display: flex;
    align-items: center;
    
}
.playing img {
    max-width: 15%;
}

footer ul {
    list-style: none;
}

.center-top {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.center-bottom {
    display: flex;
    align-content: center;
    gap: 1rem;
    color: var(--spo-white);
    
}

.toolbar-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.right {
    display: flex;
    align-content: center;
    gap: 1rem;
}

/* #region Media Query */

@media screen and (min-width:980px) and (max-width: 1024px) {

    .container {
        width: 90%;
    } 
}

@media screen and (max-width: 480px) {

    .container {
        width: 100%;
    } 
}