/* #region Common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --spo-black: black;
    --spo-background: #141922;
    --spo-white: #ffffff;
    --spo-upgrade: #080b12;
    --spo-gray: #282828;
    --spo--ligth-gray: #a3a3a3;
    --spo--fluorescent: #adff2f;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--spo-white);
}

/* #region Debug */

.debug #aside {
    background-color: black;
}

.debug #site-main {
    background-color: var(--spo-background);
}

.debug footer {
    height: 100px;
    background-color: var(--spo-gray);
}


/* #Region Utility */
.d-flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.justify-content-center {
    justify-content: center;
}

.align-item {
    align-items: center;
}

.text-align-center {
    text-align: center;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--spo-white);
}

.p-1 {
    padding: 0.75rem;
}

/* #end Region Utility */

/* #Region Layout */
.wrapper {
    position: relative;
}

#site-main {
    height: calc(100vh - 80px);
    width: calc(100vw - 200px);
    overflow-y: scroll;
    flex-grow: 1;
    background-color: var(--spo-background);
    position: absolute;
    top: 0;
    right: 0;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 80px;
    width: 100%;
    background-color: var(--spo-gray);
}

.container {
    width: 100%;
    max-width: 1452px;
    margin: auto;
}

[class^="col"] {
    padding-left: 1rem;
    padding-right: 1rem;
}

/* #region Upgrade */
.upgrade {
    background-color: var(--spo-upgrade);
}

.button {
    justify-content: flex-end;
    margin-right: 0.5rem;
    padding: 1rem 0;
}

.btn {
    width: 220px;
    font-size: 0.75rem;
    border: 1px solid var(--spo-white);
    color: var(--spo-white);
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    border-radius: 1.5rem;
    padding: 0.5rem 0.5rem;

}

/* #endregion Upgrade */

/* #region Sidebar */

#sidebar {
    height: calc(100vh - 80px);
    color: var(--spo--ligth-gray);
    background-color: black;
    width: 200px;
    flex-direction: column;
    padding: 1rem 1rem;
    position: fixed;
    top: 0;
    left: 0;
}

.logo img {
    max-width: 80%;
}

#home {
    color: var(--spo-white);
}

.logo,
.menu-sidebar {
    margin-bottom: 1.5rem;
}

.item img {
    max-width: 15%;
}

.item {
    align-items: center;
    padding: 0.25rem;

    & span {
        margin-left: 0.25rem;
    }
}

a .fa-square-plus {
    font-size: 2rem;
    color: var(--spo--ligth-gray);
    padding: 0.25rem;
    vertical-align: middle;
}

.playlist a {
    font-weight: bold;
    color: var(--spo--ligth-gray);
}

.playlist li {
    padding: 0.5rem;

    & a {
        color: var(--spo--ligth-gray);
        font-weight: bold;
        font-size: 0.75rem;
    }
}

.playlist h3 {
    text-transform: uppercase;
    color: var(--spo-white);
    margin-bottom: 0.5rem;
}

#download {
    border-bottom: 1px solid white;
}

#home::after {
    border-left: 1px solid var(--spo--fluorescent);
}

.sidebar-bottom {
    margin-top: 13rem;
}

.user {
    padding: 1rem;
}

.user img {
    border-radius: 50%;
    background-color: var(--spo--ligth-gray);
}

/* Region Sidebar-XS */

.sidebar-xs {
    background-color: black;
    height: calc(100vh - 80px);
    width: 50px;
    padding: 0.5rem 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.sidebar-xs-top {
    display: flex;
    flex-direction: column;
    align-items: center;

    & img {
        max-width: 60%;
    }
}

.sidebar-xs-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;

    & img {
        max-width: 60%;
    }
}

/* #endregion Sidebar */

/* Region Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #555;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #f1f1f1;
}

/*end Region Scrollbar */


/* #region Header */
.menu {
    gap: 2rem;

    & li {
        text-transform: uppercase;
    }

    & a {
        color: var(--spo--ligth-gray);
        font-weight: bold;
        font-size: 0.75rem;
    }
}

/* #end Region Header */

/* Region Content Album */
.row {
    margin-bottom: 1rem;
}

.card {
    width: 200px;
    aspect-ratio: 1 / 1;
}

.card img {
    max-width: 100%;
}

#circle img {
    border-radius: 50%;
}

.col h6 {
    color: var(--spo--ligth-gray);
    font-size: 0.75rem;
}

.col h3 {
    font-size: 1rem;
}

.container h4 {
    color: var(--spo--ligth-gray);
    font-size: 0.75rem;
    margin-top: -0.5rem;
    margin-bottom: 0.5rem;
}

/* #end Region Content Album */

/*#region Footer */

footer .toolbar-left,
footer .toolbar-right {
    flex-grow: 1;
    padding: 0.5rem;
}

.toolbar-right {
    justify-content: end;
}

footer .toolbar-center {
    flex-grow: 2;
    padding: 0.5rem;
}

.playing img {
    max-width: 10%;
}

.playing h6,
.playing span {
    padding: 0 0.5rem;
}

.playing span {
    font-size: 0.75rem;
}

.playing a {
    color: var(--spo--ligth-gray);
}

.preference {
    margin-left: 2rem;
}

.preference i {
    padding: 0.25rem;
    color: var(--spo--ligth-gray);
}

.toolbar-right .right {
    gap: 1rem;
}

.center-top {
    gap: 2rem;
}

li .fa-play-circle {
    font-size: 1.75rem;
}

.center-bottom {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--spo-white);
}


.toolbar-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.play {
    height: 4px;
    width: 400px;
    background: linear-gradient(to left, rgb(79, 74, 74) 0%, rgb(79, 74, 74) 80%, rgb(234, 232, 232) 80%, rgb(234, 232, 232) 100%);
    border-radius: 0.5rem;
    border: none;
}

.play-two {
    height: 4px;
    width: 150px;
    background: linear-gradient(to left, rgb(79, 74, 74) 0%, rgb(79, 74, 74) 80%, rgb(234, 232, 232) 80%, rgb(234, 232, 232) 100%);
    border-radius: 0.5rem;
    border: none;
}

.toolbar-right {
    gap: 0.5rem;
}

/* Region Effect */

.card {
    position: relative;
}

.effect {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 100px;
    left: 100px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.card:hover .middle {
    opacity: 1;
}

.fa-play-circle {
    color: white;
    font-size: 3rem;
}

.playlist a:hover,
.menu a:hover {
    color: var(--spo-white);
}

.playing a:hover {
    color: var(--spo-white);
}


/*Region Media Query */

@media screen and (min-width: 481px) {
    .sidebar-xs {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    #sidebar {
        display: none;
    }
}


@media screen and (max-width: 1300px) {
    .card {
        flex-basis: 160px;
        max-width: 150px;
    }

    [class^="col"] {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    footer {
        width: 100%;
    }
}


@media screen and (max-width: 1250px) {
    .card {
        flex-basis: 160px;
        max-width: 140px;
    }
    footer {
        width: 100%;
    }
}

@media screen and (max-width: 1200px) {
    .card {
        flex-basis: 160px;
        max-width: 140px;
    }

    [class^="col"] {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .card h3 {
        font-size: 0.8rem;
    }

    .card h6 {
        font-size: 0.6rem;
    }
    footer {
        width: 100%;
    }
}

@media screen and (max-width: 1150px) {
    .card {
        flex-basis: 150px;
        max-width: 140px;
    }

    [class^="col"] {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .card h3 {
        font-size: 0.8rem;
    }

    .card h6 {
        font-size: 0.6rem;
    }
    footer {
        width: 100%;
    }
}

@media screen and (max-width: 1100px) {
    .card {
        flex-basis: 140px;
        max-width: 130px;
    }

    [class^="col"] {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .card h3 {
        font-size: 0.8rem;
    }

    .card h6 {
        font-size: 0.6rem;
    }
    footer {
        width: 100%;
    }
}

@media screen and (max-width: 1000px) {
    .card {
        flex-basis: 130px;
        max-width: 130px;
    }

    [class^="col"] {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .card h3 {
        font-size: 0.8rem;
    }

    .card h6 {
        font-size: 0.6rem;
    }
    footer {
        width: 100%;
    }
}

@media screen and (max-width: 950px) {
    .card {
        flex-basis: 130px;
        max-width: 140px;
    }

    [class^="col"] {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .card h3 {
        font-size: 0.8rem;
    }

    .card h6 {
        font-size: 0.6rem;
    }
    footer {
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .card {
        flex-basis: 130px;
        max-width: 140px;
    }

    [class^="col"] {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .card h3 {
        font-size: 0.8rem;
    }

    .card h6 {
        font-size: 0.6rem;
    }
    footer {
        width: 100%;
    }
}

@media screen and (max-width: 850px) {
    .card {
        flex-basis: 120px;
        max-width: 130px;
    }

    [class^="col"] {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .card h3 {
        font-size: 0.8rem;
    }

    .card h6 {
        font-size: 0.6rem;
    }

    footer {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .card {
        flex-basis: 180px;
        max-width: 200px;
    }

    [class^="col"] {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .card h3 {
        font-size: 0.8rem;
    }

    .card h6 {
        font-size: 0.6rem;
    }
       
}

@media screen and (max-width: 480px) {
    .card {
        flex-basis: 180px;
        max-width: 180px;
    }

    [class^="col"] {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .card h3 {
        font-size: 0.8rem;
    }

    .card h6 {
        font-size: 0.6rem;
    }

    #site-main {
        height: calc(100vh - 80px);
        width: calc(100vw - 50px);
        overflow-y: hidden;
        flex-grow: 1;
        background-color: var(--spo-background);
        position: absolute;
        top: 0;
        right: 0;
    }

    #sidebar {
        display: none;
    }

    footer {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
    }

    .toolbar-center, .toolbar-left, .toolbar-right {
        max-width: 40%;
        font-size: 0.5rem;
    }

    .play {
        width: 150px;
    }

    .playing span {
        font-size: 0.5rem;
    }

    .preference i {
        padding: 0;
    }
}